@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --varcorprincipal: rgb(129, 1, 155);
    --varcor2: rgb(236, 119, 178);
    --varcorfundo: rgb(184, 64, 84);
    --varcorfonte: rgb(243, 171, 237);
    --fonte1: "Saira", sans-serif; 
    --fonte2: "Ubuntu", sans-serif;   
}

*{
    margin:0;
    padding:0;
}
body{
    background-color: var(--varcorfundo);
    color: whitesmoke;
}
strong{
    color:var(--varcor2);
}
.cabecalho-rodape{ /* Vale para Cabeçalho e para Rodapé */
    padding: 30px 10% 0 10%;
}
.titdestaque{ /* tag strong do destaque */
    color: var(--varcorfonte);
    font-family: var(--fonte1);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    font-size: 3vw;
    text-align: center;
}
.destaque{    /* Destaque que está no cabeçalho */
    font-family: var(--fonte2);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    font-size: 2.5vw;
    text-align: center;
}
.apresentacao{ /* Main completo */
    margin:10%;
    display:flex;
    align-items: center;
    justify-content: space-between;  
}
.landing-inicial{ /* Section que contém as sub-sections com o descritivo inicial e a imagem */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 10%;
}
.secao-paragrafo{ /* Section do descritivo da landing inicial */
    width: 60%;
}
.paragrafoprincipal{ /* Parágrafo de dentro da section do descritivo da landing inicial */
    padding: 0px 0px 2px 2px;
    font-family:  var(--fonte2);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    font-size: 2.75vw;    
    text-align: center;
}
.listaordenada{ /* Section da lista do parágrafo principal */
    padding: 5px 0px 10px 30px;
}
.itenslista{ /* Lista do parágrafo inicial */
    padding: 0px 30px 2px 2px;
    font-family:  var(--fonte2);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    /* font-size: 1rem; */
    font-size: 1.75vw;
    text-align: justify;
}
.secao-foto{ /* Section da imagem da landing inicial */
    width: 40%;
}
.foto{ /* Imagem da landing inicial */
    width: 100%;
    border-radius: 50px;
}
.minhasredes{ /* Título Minhas Redes */
    padding: 50px 30px 2px 2px;
    text-decoration: none;
    color:cornsilk;   
    font-family: var(--fonte1);
    font-weight: 500;
    font-size: 3vw; 
}
.iconesbt{ /* Div dos botões de redes sociais */
    margin-top:5%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 10%;
    padding: 0 5% 0 5%;
}
.img-iconesbt{ /* Imagem do Botão de uma rede social */
    width:8vw;
    height:8vw;
}
.botao{ /* Botão de uma rede social */
    text-decoration: none;
    color:cornsilk;
    background-color: var(--varcorprincipal);    
    padding: 12px 24px;/* vertical - horizontal */
    display: inline-block;
    font-family: var(--fonte1);
    font-weight: 500;
    border: 4px solid var(--varcor2);
    border-radius: 15px;
    text-align: center;
    font-size: 3vw;    
}
.botao:hover{ /* Estado Hover do botão de rede social */
    background-color: rgb(83, 71, 3);
}
.texto-rodape{ /* Section do texto do rodapé */
    text-decoration:solid;   
    display:flex;    
    justify-content:center; 
    font-family: var(--fonte1);
    font-weight: 500;
    padding: 0 10% 0 10%; 
    text-align: center;
}
@media (max-width: 800px){
    .cabecalho-rodape{ /* Estado do cabeçalho e rodapé redimensionados */
    padding: 0 0 0 0;
    }
    .titdestaque{ /* tag strong do destaque */
    font-size: 2.25rem;
    }
    .destaque{    /* Destaque que está no cabeçalho */
    font-size: 1.5rem;
    }
    .botao{ /* Estado do botão de rede social redimensionado */
    padding: 12px 12px;/* vertical - horizontal */        
    }
    .apresentacao{ /* Estado do main completo redimensionado */
    margin:0%;     
    }
    .landing-inicial{ /* Estado da section da landing inicial redimensionado */
    display: flex;
    flex-direction: column; /* Coloca as sections uma embaixo da outra */
    }
    .paragrafoprincipal{ /* Estado do Parágrafo da section do descritivo da landing inicial redimensionado */
    font-size: 1.75rem;    
    }
    .secao-paragrafo{ /* Estado da seção de parágrafo da landing inicial redimensionada */
    width: 80%;
    }
    .secao-foto{ /* Estado da seção de foto da landing inicial redimensionada */
    width: 80%;
    }
    .listaordenada{ /* Estado da lista ordenada da landing inicial redimensionada */
    padding: 10px 10px 30px 10px;
    }
    .itenslista{ /* Estado da Lista do parágrafo inicial redimensionado */    
    font-size: 1rem;   
    } 
    .img-iconesbt{ /* Estado da Imagem do Botão de rede social redimensionada */
    width:40px;
    height:40px;
    }
    .minhasredes{ /* Estado do título Minhas Redes redimensionado */
    padding: 0x 0px 2px 2px;
    text-align: center;
    font-size: 1.75rem;
    }
}

/* Backup de estilos não utilizados */

/* .botoes-nav{
    padding: 10% 0 0 10%;
    align-items: center; 
} */
/*.conteudoapres{
    width: 40%;    
}*/
/*.menu{
    margin-top:5%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 10%;
}*/
/*.botao-secao{
    padding: 5% 0% 0% 20%;
}*/
/*.foto-proj{
    padding: 0 5% 0 5%;
    width: 60%;
    transition-duration: 2s;
    transition-property: width;
}
.foto-proj:hover{
    padding: 0 5% 0 5%;
    width: 80%;
    transition-duration: 2s;
    transition-property: width;
}*/